@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,);

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
body {
    background-color: rgb(255, 255, 255);
    color: #000;
    font-size: 16px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    transition: padding 0.3s;
}
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
}
.sub__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(128, 128, 128);
}


/*_______________________________________________*/

.header {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100;
}
.header__container {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    cursor: pointer;
}

.hamb {
    display: none;

}
.hamb__field {
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
.bar {
    width: 40px;
    height: 5px;
    margin-bottom: 5px;
    background-color: rgb(119, 0, 255);
    display: block;
    transition: 0.3s;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__link {
    padding: 10px 0;
    margin-right: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    transition: color 0.3s;
}
.menu__link:hover {
    color: #6a00ff;
}


.menu__link__button {
    color: #722ED1;
    border: solid 1px #722ED1;
    padding: 12px 24px;
    border-radius: 23px;
    margin-right: 0;
    transition: background-color 0.3s ease;
}
.menu__link__button:hover {
    background-color: #722ED1;
    color: white;
}
/*Burger__Menu__Elments*/



.burger__menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 80px;
    background-color: #6a00ff;
    margin-top: 20px;
    margin-bottom: 100px;
    transform: translate(100%);
    transition: 0.5s;
    flex-wrap: wrap;
    padding: 25px 15px;
    row-gap: 30px;
    column-gap: 40px;
}
.burger__menu__link {
    color: #E2F1FF;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.burger__menu__link:active {
    opacity: 0.7;
}
.burger__menu__link__button {
    color: #6a00ff;
    padding: 12px 24px;
    border-radius: 23px;
    margin-right: 0;
    background-color: #ffffff;
}

.burger__menu__list.__opened__burger {
    display: flex;
    transform: translate(0%);
}
.opened__burger__body__padding {
    padding-top: 100px;
}

.__opened__burger__hamb .bar {
    transition: 0.3s;
}

.__opened__burger__hamb .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.__opened__burger__hamb .bar:nth-child(2){
    opacity: 0;
}
.__opened__burger__hamb .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}



@media (max-width: 800px) {
    .menu__list {
        display: none;
    }
    .hamb {
        display: block;
    }
}

/*____________________________________________*/

.main__page {
    flex: 1 1 auto;
}

.first__content {
    background-image: linear-gradient(rgb(255, 255, 255), #E2F1FF);
}

.first__content__container {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 200px 15px 100px 15px;
    z-index: 1;
}


.first__content__body {
    justify-content: space-between;
    display: flex;
    align-items: center;
    row-gap: 20px;
}
.first__content__info {
    max-width: 420px;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-right: 15px;
}



.first__content__info__links {
    max-width: 278px;
    display: flex;
    padding: 8px 16px;
    background-color: #F7F1FF;
    border-radius: 15px;
    align-items: center;
    cursor: pointer;

}
.first__content__info__links__img {
    width: 18px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.first__content__info__links__img img {
    width: 100%;
    
}


.first__content__info__links a {
    color: #722ED1;
    display: inline-flex;
}
.first__content__info__links a:hover {
    text-decoration: underline;
}

.first__content__info__tittle {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    
}


.first__content__info__buttons {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}
.info__button {
    padding: 12px 24px;
    border-radius: 23px
}
.info__button:active {
    opacity: 0.7;
}
.info__button__1 {
    background-color: #6a00ff;
    color: #ffffff;
    margin-right: 15px;
    transition: 0.3s;
}
.info__button__1:hover {
    box-shadow: 0 0 10px rgba(55, 0, 143, 0.596);
}

.info__button__2 {
    background-color: #ffffff;
    color: #5500cc;
    transition: 0.3s;
}
.info__button__2:hover {
    box-shadow: 0 0 10px rgb(207, 207, 207);
}
.first__content__image {
    max-width: 472px;
}
.first__content__image img {
    width: 100%;
}


@media (max-width: 760px) {
    .first__content__body {
        flex-direction: column;
        align-items: flex-start;

    }
    .first__content__container {
        padding-bottom: 20px;
    }
    .first__content__info {
        max-width: 100%;
    }
}

@media (max-width: 630px) {
    .first__content__container {
        padding-top: 150px;
    }
}

@media (max-width: 500px) {
    .first__content__info__tittle {
        font-size: 38px;
    }
}
/*_________________________________________________*/

.WhyQubly {
    margin-top: 112px;
}

.WhyQubly__info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    align-items: center;
}
.WhyQubly__info__tag {
    max-width: 158px;
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    background-color: #F7F1FF;
    color: #722ED1;
    width: auto;
    border-radius: 23px;
    cursor: pointer;
}
.WhyQubly__info__tag img {
    margin-right: 8px;
}
.WhyQubly__info__tittle {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    

}
.WhyQubly__info__sub__text {
    text-align: center;
}


.WhyQubly__features {
    margin-top: 24px;
    margin-bottom: 200px;
}

.WhyQubly__features__column {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.WhyQubly__features__block {
    max-width: 307px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    padding: 0 5px;
}

.features__block__tittle {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    
}
.features__block__sub__text {
    text-align: center;
}

@media (max-width: 980px) {
    .WhyQubly__features {
        margin-top: 40px;
    }
    .WhyQubly__features__block {
        margin-top: 24px;
    }

    .WhyQubly__features__column {
        grid-template-columns: 1fr 1fr;
    }
    .WhyQubly__features__block {
        max-width: 100%;
        padding: 0 15px;
    }
}

@media (max-width: 480px) {
    .WhyQubly__features__column {
        grid-template-columns: 1fr;
    }
    .WhyQubly__features {
        margin-top: 40px;
    }
}



.ForProductTeams {
    margin-top: -80px;
}

.ForProductTeams__body {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ForProductTeams__image {
    max-width: 412px;
    margin-right: 40px;
}
.ForProductTeams__image img{
    width: 100%;
}

.__info__block {
    width: 474px;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.info__block__tittle__link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #722ED1;
    padding: 12px 24px;
    background-color: #F7F1FF;
    border-radius: 23px;
    
}

.info__block__tittle {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    
}
@media (max-width:760px) {
    .ForProductTeams__body {
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
    }
    .__info__block {
        width: 100%;
    }
    .ForProductTeams__image {
        margin-right: 0;
    }
}

/*________________________________*/

.ForEngineeringTeams {
    margin-top: 80px;
}

.ForEngineeringTeams__body {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ForEngineeringTeams__image {
    max-width: 684px;
    margin-left: 40px;
}
.ForEngineeringTeams__image img{
    width: 100%;
}

@media (max-width:760px) {
    .ForEngineeringTeams__body {
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
    }

    .ForEngineeringTeams__image {
        margin-left: 0;
    }
}

/*________________________________________________*/

.last__text {
    margin-top: 100px;
    margin-bottom: 100px;
}

.last__text__p {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    
}

/* .footer {
    margin-top: 300px;
} */





























































































