@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,);

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
body {
    background-color: rgb(255, 255, 255);
    color: #000;
    font-size: 16px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.wrapper {
    height: 100%;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
}
.sub__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(128, 128, 128);
}


/*_______________________________________________*/

.header {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100;
}
.header__container {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    cursor: pointer;
}

.hamb {
    display: none;

}
.hamb__field {
    width: 40px;
    height: 30px;
    background-color: #5500cc;
}
.hamb__field span {
    width: 40px;
    height: 6px;
    margin-bottom: 5px;
    background-color: #FFF;
}





.menu__list {
    display: flex;
    align-items: center;
}
.menu__link {
    padding: 10px 0;
    margin-right: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    transition: color 0.3s;
}
.menu__link:hover {
    color: #6a00ff;
}


.menu__link__botton {
    color: #722ED1;
    border: solid 1px #722ED1;
    padding: 12px 24px;
    border-radius: 23px;
    margin-right: 0;
    transition: background-color 0.3s ease;
}
.menu__link__botton:hover {
    background-color: #722ED1;
    color: white;
}

@media (max-width: 800px) {
    .menu__list {
        display: none;
    }
    .hamb {
        display: block;
    }
}

/*____________________________________________*/



.first__content {
    background-image: linear-gradient(rgb(255, 255, 255), #E2F1FF);
}

.first__content__container {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 200px 15px 100px 15px;
    z-index: 1;
}


.first__content__body {
    justify-content: space-between;
    display: flex;
    align-items: center;
    row-gap: 20px;
}
.first__content__info {
    max-width: 420px;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-right: 15px;
}



.first__content__info__links {
    max-width: 258px;
    display: flex;
    padding: 8px 16px;
    background-color: #F7F1FF;
    border-radius: 15px;
}
.first__content__info__links img {
    margin-right: 8px;
}


.first__content__info__links a {
    color: #722ED1;
    display: inline-flex;
}
.first__content__info__links a:hover {
    text-decoration: underline;
}

.first__content__info__tittle {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    
}


.first__content__info__buttons {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}
.info__button {
    padding: 12px 24px;
    border-radius: 23px
}
.info__button:active {
    opacity: 0.7;
}
.info__button__1 {
    background-color: #6a00ff;
    color: #ffffff;
    margin-right: 15px;
    transition: 0.3s;
}
.info__button__1:hover {
    box-shadow: 0 0 10px rgba(55, 0, 143, 0.596);
}

.info__button__2 {
    background-color: #ffffff;
    color: #5500cc;
    transition: 0.3s;
}
.info__button__2:hover {
    box-shadow: 0 0 10px rgb(207, 207, 207);
}
.first__content__image {
    max-width: 472px;
}
.first__content__image img {
    width: 100%;
}


@media (max-width: 760px) {
    .first__content__body {
        flex-direction: column;
        align-items: flex-start;

    }
    .first__content__container {
        padding-bottom: 20px;
    }
    .first__content__info {
        max-width: 100%;
    }
}

@media (max-width: 630px) {
    .first__content__container {
        padding-top: 150px;
    }
}

@media (max-width: 500px) {
    .first__content__info__tittle {
        font-size: 38px;
    }
}
/*_________________________________________________*/

.WhyQubly {
    margin-top: 112px;
}

.WhyQubly__info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    align-items: center;
}
.WhyQubly__info__tag {
    max-width: 158px;
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    background-color: #F7F1FF;
    color: #722ED1;
    width: auto;
    border-radius: 23px;
    cursor: pointer;
}
.WhyQubly__info__tag img {
    margin-right: 8px;
}
.WhyQubly__info__tittle {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    

}
.WhyQubly__info__sub__text {
    text-align: center;
}


.WhyQubly__features {
    margin-top: 24px;
    margin-bottom: 200px;
}

.WhyQubly__features__column {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.WhyQubly__features__block {
    max-width: 307px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    padding: 0 5px;
}

.features__block__tittle {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    
}
.features__block__sub__text {
    text-align: center;
}

@media (max-width: 980px) {
    .WhyQubly__features__column {
        grid-template-columns: 1fr 1fr;
    }
    .WhyQubly__features__block {
        max-width: 100%;
        padding: 0 15px;
    }
}

@media (max-width: 480px) {
    .WhyQubly__features__column {
        grid-template-columns: 1fr;
    }
    .WhyQubly__features {
        margin-top: 40px;
    }
}

